cat << EOF > .gitignore
# Python
__pycache__/
*.pyc

# Outputs
*.out
*.err
*.log

# Data
data/
*.h5
*.athdf
*.vtk
*.bin
*.rst

# Other git repos
PLASMAtools 

# Exacutable
**/athena

# Editors
.vscode/
EOF