cat << EOF > .gitignore
# Python
__pycache__/
*.pyc

# Outputs
**/*.out
**/*.err
**/*.log

# Data
**/*.vtk
**/*.bin
**/*.rst
**/*.loc

# Other git repos
PLASMAtools 

# Exacutable
**/athena

# Editors
.vscode/
EOF